<style>
    body {
        background-color: #fcf8ed;
        background-image: url(/images/404_img.jpg);
        background-repeat: no-repeat;
        background-size: contain;
        text-align: right;
        padding-right: 6rem;
    }
    
</style>
    <h4 style="font-size: 2em; color: #007bff; margin-bottom: 10px; margin-top: 14rem;">Nothing found related to '<font color="white"><%= locals.url %></font>'</h4>
    <p style="font-size: 1.5em; margin-bottom: 20px;">Oops! The page you are looking for might be in another universe.
    </p>
    <p style="font-size: 1.5em;">Return to <a href="/"
            style="color: #007bff; text-decoration: none; font-weight: bold;">home</a>.</p>

<br><br><br><br>