:root {
  --text-color: #818284;
}
* {
  margin: 0;
  padding: 0;
  color: var(--text-color);
}
body {
  background: #e7e8e8;
  font-size: auto;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
}
a {
  color: var(--text-color);
  text-decoration: none;
  background-color: transparent;
}
.pb-3 {
  padding: 0 2rem 0 2rem;
}

.form-control-dark {
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.special-reflection {
  position: absolute;
  rotate: 180deg;
  mask-image: linear-gradient(transparent 53%, white 215%);
  max-width: 519px;
  z-index: 0;
  background-size: cover;
  height: 159px;
}

.btnx {
  width: 55%;
  height: auto;
}
